/* Reset */

html {
  font-size: 100.01%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, hr {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: inherit;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

textarea, input, select {
  font-size: 1em;
}

input[type=button],
input[type=submit] {
  cursor: pointer;
}

small {
  font-size: 0.85em;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  font-size: 0.85em;
}

sub {
  top: 0.5em;
}

strong {
  font-weight: bold;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

/* Global */

html, body, #app {
  height: 100%;
}

body {
  background-image: radial-gradient(farthest-corner at 100% 0, #903577 5%, #497BDC 60%);
  background-color: #497BDC;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

a:hover, a:active {
  color: rgba(255,255,255,0.8);
}

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 320px;
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.page__i {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 20px;
}

/* Loading */

.loading {
  text-align: center;
  padding: 30px;
}

/* Error */

.error {
  text-align: center;
  padding: 30px;
  font-size: 32px;
  line-height: 1.5;
}

/* Button */

.btn {
  box-sizing: border-box;
  display: inline-block;
  height: 46px;
  padding: 10px 20px;
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: rgba(255,255,255,0.2);
  color: #fff;
}

.btn:disabled {
  opacity: .5;
  cursor: default;
  background: transparent;
}

/* Toggler */

.prev, .next {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,.7);
  cursor: pointer;
}

.prev:hover, .next:hover {
  border-color: #fff;
}

.prev:before, .next:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.prev:before {
  border-right: 10px solid #fff;
  left: 8px;
}

.next:after {
  border-left: 10px solid #fff;
  left: 11px;
}


/* Header */

.header {
  flex-shrink: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__item {
  margin-right: 20px;
}

.nav__item.active, .nav__item.active:hover {
  border-bottom: none;
  cursor: default;
  color: #fff;
}

/* Wallet */

.wallets__prev, .wallets__next {
  position: absolute;
  top: 112px;
}

.wallets__prev {
  left: 0;
}

.wallets__next {
  right: 0;
}

.wallets__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wallets__item {
  opacity: .7;
  font-size: 18px;
  line-height: 1.5;
}

.wallets__item.active {
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  opacity: 1;
  text-align: center;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  transition: opacity .3s;
}

.wallets__item__curr {
  display: block;
  font-size: 18px;
}

.wallets__exchange {
  margin: 30px 0;
  text-align: center;
}

/* Exchange */

.exchange__rate {
  text-align: center;
  padding-bottom: 20px;
}

.exchange__rate__link {
  position: relative;
  padding-right: 18px;
}

.exchange__rate__link:before {
  content: '';
  display: block;
  position: absolute;
  right: 2px;
  top: 6px;
  border-top: 6px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.exchange__submit {
  margin: 30px 0;
  text-align: center;
}

.exchange__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1;
}

.exchange__currency {
  flex: 1 0 auto;
  font-weight: 500;
}

.exchange__currency__left {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: rgba(255,255,255,.7);
}

.exchange__input {
  position: relative;
  flex: 0 1 auto;
  padding: 0 20px;
  font-weight: 300;
}

.exchange__input__symbol {
  position: absolute;
  right: 0;
}

.exchange__input__text {
  position: absolute;
  bottom: 20px;
  right: 0;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
}

input[type="text"] {
  height: 32px;
  border: none;
  font-size: 32px;
  font-weight: 300;
  text-align: right;
  color: #fff;
  background: transparent;
  outline: none;
  width: 100%;
}

.exchange__submit {
  margin: 0 30px;
  text-align: center;
}

.currencies-list {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1;
}

.currencies-list__item {
  margin-right: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.currencies-list__item {
  position: relative;
  opacity: 0.7;
}

.currencies-list__item:hover {
  opacity: 1;
}

.currencies-list__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #fff;
}

/* Rates */

.rates__currencies {
  text-align: center;
  margin: 30px 0;
}

/* List */

.list {
  max-width: 500px;
  min-width: 220px;
  margin: 30px auto 0;
}

.list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
  line-height: 1;
}

.list__item:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.list__item span:first-child {
  padding-right: 20px;
}

.list__title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.currency {
  padding: 10px;
  font-size: 24px;
  line-height: 1;
}

/* Popup */

.popup {
  position: fixed;
  z-index: 2;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  background: rgba(255,255,255,0.95);
}

.popup__i {
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  color: #497BDC;
}

.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: #497BDC;
  cursor: pointer;
}

.popup__close:before, .popup__close:after {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  width: 30px;
  height: 1px;
  background: rgba(255,255,255,0.8);
}

.popup__close:before {
  left: 0;
  transform: rotate(45deg);
}

.popup__close:after {
  right: 0;
  transform: rotate(-45deg);
}

/* Currencies list */

.currency {
  padding: 10px;
  font-size: 24px;
  line-height: 1;
  color: rgba(73, 123, 220, 0.9);
  cursor: pointer;
}

.currency:hover {
  color: #497BDC;
}

.currency:not(:last-child) {
  border-bottom: 1px solid rgba(73, 123, 220, 0.3);
}
